html{
    font-size: 20px;
    background: url(images/background.jpg);
    background-size: 100% 100%;
    font-family: 'Carter One', sans-serif;
    color:antiquewhite;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}


h3{
    text-align: center;
    font-size:20px;
}

.threeChoices {
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:40px;
    flex-wrap: wrap;
}

#rockChoice, #paperChoice, #scissorsChoice {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn{
    margin: 0px;
    padding: 10px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: aliceblue;
    outline: navajowhite;
}

.btn:hover{
    transform: scale(1.2);
    border-color: goldenrod;
}

img{
    width: 125px;
    height: 150px;  
}

.Results{
    display: flex;
    flex-direction: row;
    font-size: 30px;
}

.text{
    margin: 20px;
}

#output{
    font-size: 35px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
}

footer{
    background-color: gray;
    width: 100%;
    position: fixed;
    bottom: 0;
}